<div class="container" style="text-align: center; margin-top: 1.5rem; margin-bottom: 3rem;">
    <div class="card" style="max-width: 500px; margin: auto; padding: 1.5rem;">
        <header class="page-header">
            <h1>
                <%= titulo %>
            </h1>
        </header>

        <% if (qr_code && qr_code_base64) { %>
            <div class="pix-info" style="margin-top: 0.25rem;">

                <strong style="font-size: 1.2rem; margin-top: 0.7rem; margin-bottom: 0px;">Pague com Qr-code</strong>
                <br>
                <img src="data:image/png;base64, <%= qr_code_base64 %>" alt="QR Code Pix"
                    style="color: var(--cor-destaque); width: 230px; height: auto; margin-top: 0.25rem; margin-bottom: 0rem;">

                <div
                    style="background-color: #f0f0f0; padding: 1rem; border-radius: var(--borda-radius); margin-top: 0.5rem; word-wrap: break-word;">
                    <p id="pix-code" style="font-size: 0.9rem; margin: 0;">
                        <%= qr_code %>
                    </p>
                </div>
            </div>
            <% } %>

                <div style=" display: flex; flex-direction: row; align-items: center; justify-content: space-around;  margin-top: 2rem;">


                    <button class="btn btn-secundario" onclick="copyPixCode()">Copiar
                        Código</button>

                    <a href="/profile"  class="btn btn-destaque" style="padding: 10px 16px;">Ver Meus Pedidos</a>
                </div>
    </div>
</div>

<script>
    function copyPixCode() {
        const pixCodeElement = document.getElementById('pix-code');
        const range = document.createRange();
        range.selectNode(pixCodeElement);
        window.getSelection().removeAllRanges();
        window.getSelection().addRange(range);
        try {
            const successful = document.execCommand('copy');
            const msg = successful ? 'sucedido' : 'malsucedido';
            console.log(`Cópia do código Pix foi ${msg}`);
            // Você pode adicionar um feedback visual para o usuário aqui (ex: tooltip)
            alert("Código Pix copiado para a área de transferência!");
        } catch (err) {
            console.error('Não foi possível copiar o código Pix', err);
            alert("Não foi possível copiar o código. Por favor, selecione e copie manualmente.");
        }
        window.getSelection().removeAllRanges();
    }
</script>