/* --- Component: Buttons --- */
.btn {
    display: inline-block;
    font-size: 1.3rem;
    border: 2px solid transparent;
    border-radius: var(--borda-radius);
    font-family: white;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s ease;
}

.btn-destaque {
    padding: 0.5rem;
    background-color: var(--cor-destaque);
    color: #fff;
}

.btn-destaque:hover {
    background-color: #9a6250;
    transform: translateY(-2px);
    text-decoration: none;
    color: #fff;
}

.btn-secundario {
    background-color: var(--cor-secundaria);
    color: #fff;
}

.btn-secundario:hover {
    background-color: #4c453e;
    transform: translateY(-2px);
    text-decoration: none;
    color: #fff;
}

.btn-remover {
    padding: 0.5rem;
    background: none;
    border-color: var(--cor-erro);
    color: var(--cor-erro);
}

.btn-remover:hover {
    background-color: var(--cor-erro);
    color: #fff;
    text-decoration: none;
}