/* --- Page: Admin Dashboard --- */
.dashboard-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;;
    gap: 2rem;
    margin-top: 2rem;
}

.dashboard-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    aspect-ratio: 1 / 1;
}

.dashboard-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-icon .material-icons {
    font-size: 3rem;
    color: #343a40;
}

.card-content h3 {
    margin: 0.5rem 0;
    font-size: 1.2rem;
    color: #495057;
}

.card-value {
    font-size: 1.4rem;
    font-weight: bold;
    color: #343a40;
    margin: 0.5rem 0;
}

.card-link {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    margin-top: 1rem;
}